.designer {
  width: 100%;
  height: 100%;
  @border: 1px solid #ddd;
  @padding: 12px;

  .conf {
    border-left: @border;
    width: 400px;

    .inner {
      padding: @padding;
      overflow: auto;
    }
  }

  .tree {
    display: inline-block;
    overflow: hidden;
  }

  .rst__moveHandle,
  .rst__rowContents {
    border-radius: 0;
    box-shadow: none;
  }

  .rst__moveHandle {
    width: 26px;
  }

  .rst__rowContents {
    background: #f8f8f8;
  }

  .rst__rowTitle,
  .rst__rowSubtitle {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #333;

    .title {
      cursor: pointer;
      transition: .1s;
    }

    .active {
      color: #762;
      font-weight: bold;
    }
  }

  .rst__rowSubtitle {
    font-size: 10px;
    padding: 0 8px;
    color: #bbb;
    font-style: italic;
    text-transform: capitalize;
  }

  .rst__rowWrapper {
    padding: 4px 4px 4px 0;
  }

  @lineColor: #999;

  .rst__collapseButton,
  .rst__expandButton {
    box-shadow: 0 0 0 1px @lineColor;
  }

  .rst__lineHalfHorizontalRight::before,
  .rst__lineFullVertical::after,
  .rst__lineHalfVerticalTop::after,
  .rst__lineHalfVerticalBottom::after,
  .rst__lineChildren::after {
    background-color: @lineColor;
  }

  .ReactVirtualized__Grid.ReactVirtualized__List.rst__virtualScrollOverride {
    padding: 16px 0;
  }

  .placeholder {
    @width: 300px;
    @hieght: 70px;
    width: @width;
    height: @hieght;
    line-height: @hieght;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    margin: (0 - @hieght/2) auto auto (0 - @width/2);
    z-index: 10;
    @color: #ddd;
    border: 3px dotted @color;
    color: @color;
    font-size: 18px;
  }

  .rst__toolbarButton {
    margin-left: 8px;
    margin-right: 2px;
    cursor: pointer;

    .fa {
      font-size: 14px;
      color: #999;
      vertical-align: initial;
    }

    &:hover {
      .fa {
        color: #333;
      }
    }
  }
}